name: Docker Image CI

on:
    push:
        branches: ["main"]

jobs:
    builds:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: AWS login
              uses: aws-actions/configure-aws-credentials@v1
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: eu-north-1

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                node-version: '18'

            - name: Install dependencies
              run: npm install glob sharp

            - name: Execute sitemap generation and image conversion scripts
              run: node scripts/generate-sitemap.js && node scripts/convert-images.js

            - name: Copy files to the s3 website content bucket
              run:
                aws s3 sync public s3://technarion-3-bucket-for-webpage/ --delete

            - name: Invoke lambda that creates invalidations for distributions
              run:
                aws lambda invoke --function-name website-invalidate /dev/stdout